@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-size: cover;
  user-select: none;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}

.message-container {
  width: 100%;
  height: 600px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 20px;
  padding: 10px;
  background-color: var(--color-background);
}

.message-container::-webkit-scrollbar {
  width: 0px; /* Removes the scrollbar */
}

.message-container {
  overflow-y: scroll; /* Allows scrolling, but without showing the scrollbar */
}

.message {
  background-color: var(--color-background-soft);
  padding: 8px 12px;
  border-radius: 12px;
  margin: 4px 0;
  max-width: 80%;
  text-align: left;
}

.input-box {
  width: 1000px;
  height: 75px;
  padding: 10px 12px;
  font-size: 16px;
  border: 2px solid #6c584c;
  border-radius: 8px;
  resize: none;
  outline: none;
  font-family: inherit;
  color: var(--ev-c-text-1);
  background-color: var(--color-background-soft);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border 0.3s, box-shadow 0.3s;
}

.input-box:focus {
  box-shadow: 0 0 12px 3px #6c584c;
}

@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}

@media (max-width: 620px) {
  .versions {
    display: none;
  }
}

@media (max-width: 350px) {
  .tip,
  .actions {
    display: none;
  }
}